@import '../../styles/vars';
@import '../../styles/mixins';

.segment {
  h1.title {
    @include h1;
  }

  h2.title {
    @include h2;
  }

  .description {
    font-size: 18px;
    margin-top: 5px;
  }

  .content {
    margin-top: 20px;
  }

  .subTitle {
    margin-bottom: 30px;
    font-style: 25px;
  }
}
