@import '../../styles/_vars.scss';
@import '../../styles/_mixins.scss';

.recipes {
  .recipe {
    padding: 20px;
    border: 1px solid $black;
    border-radius: 10px;
    & + .recipe {
      margin-top: 20px;
    }
    .link {
      @include link;
    }
  }
}
